.App {
  font-family: sans-serif;
  text-align: center;
}
#WorkoutOption {
  color: red;
  border-style: solid;
  border-radius: 30px;
  height: 80px;
}
.Push {
  background-color: blue;
  text-align: left;
  background-image: url(../images/Cardio.jpg);
}
