
.App {
  font-family: sans-serif;
  text-align: center;
}
/*
.Opener {
  text-align: center;
  color: blue;
}

h1 {
}
#workout {
  border-style: solid;
  border-radius: 50px;
  border-color: red;
}
.Legs {
}
.Push {
}
*/
